<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>

 </head> 

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-2 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-1 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#home"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Associação Quilombola do Castainho</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-5">
        <li class="ms-3"><a class="text-body-secondary text-dark fa-lg" href="https://www.instagram.com/associacao_do_castainho?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
            <i class="fa-brands fa-square-instagram"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary text-dark fa-lg" href="#mailto:quilombocastainho@outlook.com">
            <i class="fa-solid fa-envelope"></i></a></li>
      </ul>
    </footer>
  </div>

</html>