<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   

  <header class="navbar navbar-dark sticky-top flex-md-nowrap p-2 shadow" style="background-color: #546D29;">  
      <span><img src="/img/logo.png" class="img-fluid mx-2" height="60" width="60" alt="logo"></span>
        <h5 class="text-white fw-bold col-md-3 col-lg-2"> Associação Quilombola do Castainho</h5>
           
     <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" 
             data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     
     <ul class="nav nav-header col-md-6 col-lg-8">
      <li class="nav-item active show">
        <a href="/home" class="nav-link btn btn-outline-light"><i class="fa-solid fa-house"></i> Início</a>
      </li>
      <li class="nav-item">
        <a href="/associados/novo" class="nav-link btn btn-outline-light"><i class="fa-solid fa-image-portrait"></i> Novo Associado</a>
      </li>
      <li class="nav-item">
        <a href="/associados/listar" class="nav-link btn btn-outline-light"><i class="fa-regular fa-rectangle-list"></i> Associados</a>
      </li>
      <li class="nav-item">
        <a href="/mensalidades/novo" class="nav-link btn btn-outline-light"><i class="fa-solid fa-dollar"></i> Gerar Mensalidades</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn text-white dropdown-toggle mx-2" type="button" id="dropdownMenuButton" 
              data-bs-toggle="dropdown" aria-expanded="false"  >
              <i class="fa-solid fa-circle-user"></i>
              <span th:text="${userName}"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: -40px !important; ">
        <a class="dropdown-item text-secondary" href="/users/novo"><i class="fa-solid fa-user "></i> Usuário</a>
        <a class="dropdown-item text-secondary" th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i>Sair</a>
      </div>
    </div>
 </header>
</html>

