<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header class="navbar navbar-dark sticky-top flex-md-nowrap p-1 shadow" style="background-color: #546D29;">   
    <h6 class="text-white fw-bold col-md-4 col-lg-4 mx-2" 
            ><img src="/img/logo.png" class="img-fluid" height="45" width="45" alt="logo">
            <span class="badge text-bg-light" > Associação Quilombola do Castainho </span></h6>
           

     <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" 
             data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     
     <ul class="nav nav-header">
      <li class="nav-item active show">
        <a href="/home" class="nav-link"><i class="fa-solid fa-house"></i> Início</a>
      </li>
      <li class="nav-item">
        <a href="/associados/novo" class="nav-link"><i class="fa-solid fa-image-portrait"></i> Associado</a>
      </li>
      <li class="nav-item">
        <a href="/associados/listar" class="nav-link"><i class="fa-regular fa-rectangle-list"></i> Listar Associados</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link"><i class="fa-solid fa-user"></i> Usuário</a>
      </li>
    </ul>

     <div class="nav nav-pills align-items-center">
       <div class="nav-item px-3">
           <span class="text-white">Usuário: Admin</span>
       </div>
       <div class="nav-item">
         <a class="btn btn-sm btn-outline-light px-2 mx-2" th:href="@{/logout}">Sair 
           <i class="fa-solid fa-right-from-bracket"></i>
         </a>
       </div>
     </div>   
 </header>
</html>