<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   

<header class="navbar navbar-dark sticky-top flex-md-nowrap p-1 shadow" style="background-color: #546D29;">   
    <h6 class="text-white fw-bold col-md-4 col-lg-4 mx-3" 
            ><img src="/img/logo.png" class="img-fluid" height="50" width="50" alt="logo">
            <span class="badge text-bg-light" > Associação Quilombola do Castainho </span></h6>
           

     <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" 
             data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     
     <ul class="nav nav-header">
      <li class="nav-item active show">
        <a href="/home" class="nav-link"><i class="fa-solid fa-house"></i> Início</a>
      </li>
      <li class="nav-item">
        <a href="/associados/novo" class="nav-link"><i class="fa-solid fa-image-portrait"></i> Associado</a>
      </li>
      <li class="nav-item">
        <a href="/associados/listar" class="nav-link"><i class="fa-regular fa-rectangle-list"></i> Listar Associados</a>
      </li>
      <li class="nav-item">
        <a href="/mensalidades/listar" class="nav-link"><i class="fa-solid fa-dollar"></i> Mensalidades</a>
      </li>
    </ul>
    <div class="dropdown ">
      <button class="btn btn-secondary dropdown-toggle bg-light fw-bold mx-3" type="button" id="dropdownMenuButton" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #546D29;">
        <i class="fa-solid fa-circle-user px-2"></i>
        Admin
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item text-secondary" href="/users/novo"><i class="fa-solid fa-user px-2"></i> Usuário</a>
        <a class="dropdown-item text-secondary" href="#"><i class="fa-solid fa-gear px-2"></i>Configuração</a>
        <a class="dropdown-item text-secondary" href="#"><i class="fa-solid fa-right-from-bracket px-2"></i>Sair</a>
      </div>
    </div>
 </header>
</html>

