<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <nav id="sidebarMenu" class="col-sm-3 col-md-3 col-lg-2 sidebar collapse" style="background-color: #546D29;">
        <div class="position-sticky pt-5">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link btn btn-outline-light" aria-current="page" href="/home">
                <i class="fa-solid fa-house"></i>
                Página Inicial
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link btn btn-outline-light" href="/associados/novo">
                <i class="fa-solid fa-image-portrait"></i> 
                Novo Associado
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link btn btn-outline-light" href="/associados/listar">
                <i class="fa-regular fa-rectangle-list"></i> 
                Associados
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link btn btn-outline-light" href="#">
                <i class="fa-solid fa-user"></i>
                Usuário
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link btn btn-outline-light" th:href="@{/logout}">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sair
            </a>
            </li>
        </ul>  
        </div> 
  </nav>
</html>