<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background-color: #546D29;">
        <div class="position-sticky pt-5">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">
                <i class="fa-solid fa-house"></i>
                Página Inicial
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/associados/novo">
                <i class="fa-solid fa-file-lines"></i> 
                Associado
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/associados/listar">
                <i class="fa-solid fa-circle-dollar-to-slot"></i> 
                Listar Associados
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-user"></i>
                Usuário
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sair
            </a>
            </li>
            <li class="nav-item">
                <img src="/img/logo.png" class="img-fluid" alt="logo" >
            </li>
        </ul>  
        </div>
        
       
  </nav>

</html>