<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <title>Gestão da Associação Quilombola Castainho</title> 
</head>

<body>
  <section layout:fragment="content">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Associado</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm text-white">Novo</button>
            <button type="button" class="btn btn-sm text-white">Listar</button>
          </div>
        </div>
      </div>
    
    <div class="container" >    
      <div class="card ">
        <div class="card-header ">     
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active fw-bold" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" 
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Associado
            </button>
            <button class="nav-link fw-bold" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" 
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Dependentes
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <!--  tab associado-->
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                
            <div class="card-body">
              <form class="row g-2" method="POST"  th:action="@{/api/associado}" th:object="${associado}">
                <input type="hidden" th:field="*{id}"/>
                  <div class="col-md-8">
                    <label for="inputNome" class="form-label">Nome do Associado</label>
                    <input type="text" class="form-control" id="inputNome" th:field="*{nome}" 
                            placeholder="Digite o nome do associado...">
                  </div>
                  <div class="col-md-4">
                    <label for="inputApelido" class="form-label">Apelido</label>
                    <input type="text" class="form-control" id="inputApelido" th:field="*{apelido}"
                          placeholder="Digite o apelido...">
                  </div>
                  <div class="col-md-3">
                      <label for="inputCPF" class="form-label">CPF</label>
                      <input type="text" class="form-control" id="inputCPF" th:field="*{cpf}"
                            placeholder="00.000.000-00">
                    </div>
                  <div class="col-md-3">
                        <label for="inputRG" class="form-label">RG</label>
                        <input type="text" class="form-control" id="inputRG" th:field="*{rg}"
                              placeholder="Digite o RG...">
                  </div>
                  <div class="col-md-3">
                      <label for="inputNIS" class="form-label">NIS</label>
                      <input type="text" class="form-control" id="inputNIS" th:field="*{nis}"
                            placeholder="Digite o NIS...">
                  </div>
                  <div class="col-md-3">
                      <label for="inputTitulo" class="form-label">Título do Eleitor</label>
                      <input type="text" class="form-control" id="inputTitulo" th:field="*{tituloEleitor}"
                              placeholder="Título do eleitor...">
                  </div>
                  
                  <!--linha 3 -->
            
                    <div class="col-md-3">
                      <label for="inputDataNasc" class="form-label">Data de Nascimento</label>
                      <input type="date" class="form-control" id="inputDataNasc" th:field="*{dataNascimento}"
                            placeholder="dd/mm/aaaa">
                    </div>
                    <div class="col-md-3">
                        <label for="inputTelefone1" class="form-label">Telefone 1</label>
                        <input type="text" class="form-control" id="inputTelefone1" th:field="*{celular}"
                                placeholder="(00)00000-0000">
                      </div>
                    <div class="col-md-3">
                        <label for="inputTelefone2" class="form-label">Telefone 2</label>
                        <input type="text" class="form-control" id="inputTelefone2" 
                              placeholder="(00)00000-0000">
                    </div>
                    <div class="col-md-3">
                      <label for="inputSocioDesde" class="form-label">Sócio Desde</label>
                      <input type="date" class="form-control" id="inputSocioDesde" th:field="*{socioDesde}"
                            placeholder="dd/mm/aaaa">
                    </div>
                  <!--linha 4 -->
                  <div class="col-md-6">
                    <label for="inputMae" class="form-label">Nome da Mãe</label>
                    <input type="text" class="form-control" id="inputMae" th:field="*{nomeMae}"
                            placeholder="Digite o nome da mãe...">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPai" class="form-label">Nome da Pai</label>
                    <input type="text" class="form-control" id="inputPai"   th:field="*{nomePai}"
                            placeholder="Digite o nome do pai..."> 
                  </div>
                  <div class="col-12">
                    <textarea class="form-control" th:field="*{observacao}"
                            placeholder="Digite alguma observação aqui..." id="floatingTextarea2" ></textarea>
                  </div>
                
                  <div class="col-12">
                    <button type="submit" class="btn w-100 text-white fw-semibold" 
                            style="background-color: #F2994A;">Salvar</button>
                  </div>
                </form>
            </div>
          </div>
          <!--  tab dependente-->
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
              
          </div>
        </div>

        </div>
      </div>
        
    </div>
</main>
</section>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>