<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
  
    
    <title>Associação Quilombola Castainho</title> 
</head>

<body>
  
<section layout:fragment="content">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
    <h3 class="h3">Associado</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-orange btn-sm fw-bold"   
                role="button" type="button" href="/associados/listar">Listar Associados</a>
    </div>
  </div>

 <!-- success message -->
 <div th:if="${param.success}">
    <div class="alert alert-info">You've successfully registered
        to our awesome app!</div>
</div>

<div th:if="${param.email_invalid}">
    <div class="alert alert-danger">
        Email is Already Registered!</div>
</div>
    
  <form  method="POST"  th:action="@{/users}" th:object="${user}">
    <div class="card">
      <div class="card-header fw-bold">     
          <h6 class="card-title">Cadastro de Associado</h6>
      </div>
      
            <div class="card-body">
              <input type="hidden" th:field="*{id}"/> 
              <div class="row g-2">
                  <div class="col-md-7">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="inputNome" th:field="*{name}" 
                           autofocus="autofocus" id="name" placeholder="Digite o nome do usuário." >
                  </div>
                  <div class="col-md-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}"
                          placeholder="Digite o email do usuário..." required>
                  </div>
                  <div class="col-md-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}"
                          placeholder="Digite a senha do usuário..." required>
                  </div>
                  
                
                  <div class="col-12">
                    <button type="submit" class="btn btn-success w-100 fw-semibold">Salvar</button>
                  </div>
               
              </div>
            </div>
          </div>
    </form>
  </div> <!-- container end-->
</div> </main>
</section>
    
  </body>
</html>
