<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
   
    
    <title>Associação Quilombola Castainho</title> 
</head>

<body>
<section layout:fragment="content">
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
          <h3 class="h3">Cadastrar de Mensalidades</h3>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-orange btn-sm me-md-2 fw-bold"
                      role="button" type="button" href="/associados/novo">Adicionar Associado</a>
            <a class="btn btn-orange btn-sm fw-bold"   
                      role="button" type="button" href="/associados/listar">Listar Associados</a>
          </div>
        </div>
  
  
<div class="container">  
   <!-- <div class="card-body">
      <div class="row g-4 row-cols-1 row-cols-lg-3" style="line-height: 40%">           
        <div class="feature col-4">
          <p><small th:text="'Apelido: ' + ${a.apelido}" ></small></p>
          <p><small th:text="'Cpf: ' + ${a.cpf}" ></small></p>
          <p><small th:text="'RG: ' + ${a.rg}" ></small></p>
          <p><small th:text="'Data de Nascimento: ' + ${{a.dataNascimento}}" ></small></p>
          <p><small th:text="'Observações: ' + ${a.observacao}" ></small></p>
        </div>
        <div class="feature col-3">
          <p><small th:text="'RG: ' + ${a.rg}" ></small></p>
          <p><small th:text="'NIS: ' + ${a.nis}" ></small></p>
          <p><small th:text="'Título do Eleitor: ' + ${a.tituloEleitor}" ></small></p>
          
        </div>
        <div class="feature col-5">
          <p><small th:text="'Telefone : ' + ${a.celular}" ></small></p>
          <p><small th:text="'Nome da Mãe: ' + ${a.nomeMae}" ></small></p>
          <p><small th:text="'Nome da Pai: ' + ${a.nomePai}" ></small></p>
        </div>
      </div>
    </div>-->
</div>

<div th:replace="~{fragments/alert}"></div>
<!-- mensalidade --> 

</br>   
  <form  method="POST" th:action="@{/mensalidades/addMensalAssociado/{codigo}(codigo=${associado.id})}" 
                       th:object="${mensalidade}">
    <div class="card">
            <div class="card-header fw-bold" th:each="a : ${associado}">
                <h6 class="card-title">
                  <i class="fa-solid fa-hashtag"></i>
                  <span class="text-dark fw-bold" th:text="${a.id}"></span>
                  <span class="text-dark fw-bold" th:text="' - ' + ${a.nome}"></span>
                  <span class="fw-bold" style="color: #38B43A;" th:text="' - Status: ' + ${a.status}"></span>
                  <span class="text-dark fw-bold float-end" th:text="'Sócio Desde: ' + ${{a.socioDesde}}"></span>
                </h6>
            </div>        
            <div class="card-body">
              <div class="row">
                 <div class="col-md-1">
                   <label for="parcela" class="form-label">Parcela</label>
                   <input type="number" class="form-control" id="parcela"  th:field="*{parcela}">
                   <small class="form-text text-danger" th:if="${#fields.hasErrors('parcela')}" th:errors="*{parcela}"></small>
                 </div>
                 <div class="col-md-3">
                   <label for="valor" class="form-label">Valor</label>
                     <input type="text" class="form-control" id="valor" th:field="*{valor}"
                               placeholder="R$ 0,00">
                  <small class="form-text text-danger" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></small>
                 </div>
                 <div class="col-md-3">
                   <label for="date" class="form-label">Data do Vencimento</label>
                     <input type="date" class="form-control" id="date" th:field="*{dataVencimento}"
                            placeholder="dd/mm/aaaa">
                  <small class="form-text text-danger" th:if="${#fields.hasErrors('dataVencimento')}" th:errors="*{dataVencimento}"></small>          
                 </div>                    
                 <div class="col-md-3">
                     <label class="form-label">Selecione a situação</label>
                       <select class="form-select" name="situacao" th:field="*{situacao}" aria-label="Default">
                         <option th:each="situacao : ${todasSituacoes}" th:value="${situacao}" 
                                 th:text="${situacao.descricao}"></option>
                       </select>
                       <small class="form-text text-danger" th:if="${#fields.hasErrors('situacao')}" th:errors="*{situacao}"></small>     
                 </div>
                
                 <div class="col">
                  <button type="submit" class="btn btn-success btn-block" style="margin-top: 15%;">Incluir</button>
                </div>    
              
             </div>
            </div>
          </div>
    </form>

    <!-- table -->
    <div class="table-wrapper">  
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th class="text-center">Parcela</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Data do Vencimento</th>
                    <th class="text-center">Situação</th>
                    <th class="text-center">Acões</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mensalidade: ${mensalidades}">
                    <td class="text-center"><span th:text="${mensalidade.parcela}"></span></td>
                    <td class="text-center" th:text="|R$ ${{mensalidade.valor}}|"></td>
                    <td class="text-center"  th:text="${{mensalidade.dataVencimento}}"></td>
                    <td class="text-center">
                      <span class="badge" th:text="${mensalidade.situacao.descricao}"
                      th:classappend="${#strings.toString(mensalidade.situacao) == 'Pendente' ? 'bg-warning' : 'bg-success'}"></span>
                    </td>                 
                    <td class="text-center">
                        <a class="delete" title="Excluir" data-toggle="tooltip"
                          th:href="@{/mensalidades/{mensalidadeId}/(mensalidadeId = ${mensalidade.id})}">
                            <i class="fa-solid fa-trash-can mx-1" style="color: #fa0000;"></i>
                        </a>
                        <a class="editar" title="Editar" data-toggle="tooltip"
                          th:href="@{'/mensalidades/editarMensalidade?id=' + ${mensalidade.id}}">
                            <i class="fa-regular fa-pen-to-square mx-1" style="color: #ffc104;"></i>
                        </a>
                        <a class="visualizar" title="Histórico Mensalidades" data-toggle="tooltip"
                               th:href="@{/mensalidades/listar}">
                            <i class="fa-solid fa-file-invoice-dollar" style="color: #38B43A;"></i> 
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" th:if="${#lists.isEmpty(mensalidades)}">Nenhum mensalidade foi encontrada.</td>
                </tr>
            </tbody>
        </table>
       
    </div>
    </div>

               
 <!-- container end-->       
</div> </main>
</section>
    
</body>
</html>