<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <title>Gestão da Associação Quilombola Castainho</title> 
</head>

<body>
  <section layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
          <h1 class="h2">Detalhes Associado</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-orange btn-sm me-md-2 fw-bold"
                      role="button" type="button" href="/associados/novo">Adicionar Associado</a>
            <a class="btn btn-orange btn-sm fw-bold"   
                      role="button" type="button" href="/associados/listar">Listar</a>
          </div>
        </div>
    
<div class="container">  
    <div class="container px-4" id="featured-3" th:each="a : ${associado}">

        <div class="d-grid gap-2">
          <button type="button" class="btn btn-light" disabled>
            <i class="fa-solid fa-hashtag" style="color: #38b43a;"></i>
            <span class="text-dark fw-bold" th:text="${a.id}"></span>
            <span class="text-dark fw-bold" th:text="' - ' + ${a.nome}"></span>
          </button>
        </div>          
         

        <div class="row g-4 row-cols-1 row-cols-lg-3">           
          <div class="feature col">
            <p th:text="'Apelido: ' + ${a.apelido}" ></p>
            <p th:text="'Cpf: ' + ${a.cpf}" ></p>
            <p th:text="'RG: ' + ${a.rg}" ></p>
          </div>
          <div class="feature col">
            <p th:text="'Apelido: ' + ${a.apelido}" ></p>
            <p th:text="'Cpf: ' + ${a.cpf}" ></p>
            <p th:text="'RG: ' + ${a.rg}" ></p>
          </div>
          <div class="feature col">
            <p th:text="'Apelido: ' + ${a.apelido}" ></p>
            <p th:text="'Cpf: ' + ${a.cpf}" ></p>
            <p th:text="'RG: ' + ${a.rg}" ></p>
          </div>
        </div>
      </div>
            
                    
</div>
</div> <!-- container end-->
        
</div> </main>
</section>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>