<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <title>Gestão da Associação Quilombola Castainho</title> 
</head>

<body>
<section layout:fragment="content">
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
          <h1 class="h2">Incluir Dependentes</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-orange btn-sm me-md-2 fw-bold"
                      role="button" type="button" href="/associados/novo">Adicionar Associado</a>
            <a class="btn btn-orange btn-sm fw-bold"   
                      role="button" type="button" href="/associados/listar">Listar Associados</a>
          </div>
        </div>
    
<div th:replace="~{fragments/alert}"></div>     
  
<div class="container">  

  <div class="card" th:each="a : ${associado}">
    <div class="card-header fw-bold">     
        <h6 class="card-title">
          <i class="fa-solid fa-hashtag" style="color: #38b43a;"></i>
          <span class="text-dark fw-bold" th:text="${a.id}"></span>
          <span class="text-dark fw-bold" th:text="' - ' + ${a.nome}"></span>
          <span class="text-info fw-bold position-absolute start-50" th:text="${a.status}"></span>
          <span class="text-dark fw-bold float-end" th:text="'Sócio Desde: ' + ${{a.socioDesde}}"></span>
        </h6>
    </div>   

    <div class="card-body">
      <div class="row g-4 row-cols-1 row-cols-lg-3" style="line-height: 40%">           
        <div class="feature col-4">
          <p><small th:text="'Apelido: ' + ${a.apelido}" ></small></p>
          <p><small th:text="'Cpf: ' + ${a.cpf}" ></small></p>
          <p><small th:text="'RG: ' + ${a.rg}" ></small></p>
          <p><small th:text="'Data de Nascimento: ' + ${{a.dataNascimento}}" ></small></p>
          <p><small th:text="'Observações: ' + ${a.observacao}" ></small></p>
        </div>
        <div class="feature col-3">
          <p><small th:text="'RG: ' + ${a.rg}" ></small></p>
          <p><small th:text="'NIS: ' + ${a.nis}" ></small></p>
          <p><small th:text="'Título do Eleitor: ' + ${a.tituloEleitor}" ></small></p>
          
        </div>
        <div class="feature col-5">
          <p><small th:text="'Telefone : ' + ${a.celular}" ></small></p>
          <p><small th:text="'Nome da Mãe: ' + ${a.nomeMae}" ></small></p>
          <p><small th:text="'Nome da Pai: ' + ${a.nomePai}" ></small></p>
        </div>
      </div>
    </div>
</div>

</br>   <!-- depedente --> 
  <form  method="POST" th:action="@{/dependentes/addDepenAssociado/{codigo}(codigo=${associado.id})}">
    <div class="card">
            <div class="card-header fw-bold">     
                <h6 class="card-title">Incluir Dependentes ao Associado</h6>
            </div>        
            <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                    <label class="visually-hidden" for="inline-form-nome">Nome do Dependente</label>
                    <input type="text" class="form-control" autofocus="autofocus" name="nome"
                            placeholder="Digite o nome do associado..." required>
                  </div>
                  <div class="col-md-4">
                    <label class="visually-hidden" for="inline-form-parentesco">Parentesco</label>
                    <input type="text" class="form-control" name="parentesco"
                           placeholder="Digite o parentesco...">
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-success btn-block">Incluir</button>
                  </div>             
              </div>
            </div>
          </div>
    </form>

    <!-- table -->
    <div class="table-wrapper">  
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Nome</th>
                    <th>Parentesco</th>
                    <th>Acões</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dependente: ${dependentes}">
                    <td><span th:text="${dependente.nome}"></span></td>
                    <td th:text="${dependente.parentesco}"></td>
                    <td>
                        <a class="delete" title="Excluir" data-toggle="tooltip"
                        th:href="@{/dependentes/{dependenteId}/excluir(dependenteId = ${dependente.id})}">
                            <i class="fa-solid fa-trash-can" style="color: #fa0000;"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" th:if="${#lists.isEmpty(dependentes)}">Nenhum dependente foi encontrado.</td>
                </tr>
            </tbody>
        </table>
       
    </div>
    </div>
    
      <h2 class="pb-2 border-bottom"></h2>

      
               
 <!-- container end-->       
</div> </main>
</section>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>