<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>   
    
    <title>Associação Quilombola Castainho</title> 
</head>

<body>
<section layout:fragment="content">
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
          <h3 class="h3">Gerar Mensalidades</h3>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-success btn-sm fw-bold"   
                      role="button" type="button" href="/mensalidades/listar">Listar Mensalidades</a>          
          </div>
        </div>

<div th:replace="~{fragments/alert}"></div>
<!-- mensalidade --> 

<div class="container">   
    <form method="POST" th:action="@{/mensalidades/gerar}" >
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <label class="form-label">Associado</label>
                  <select class="form-select select2" name="associadoId" required>
                      <option value="">Selecione um associado</option>
                      <option th:each="associado : ${associados}" 
                              th:value="${associado.id}" 
                              th:text="${associado.nome}"></option>
                  </select>
              </div>
               <div class="col-md-2">
                 <label for="valorTotal" class="form-label">Valor Total</label>
                 <input type="number" class="form-control" id="valor"  step="0.01" name="valorTotal" 
                        placeholder="R$ 0,00" required>
               </div>
               <div class="col-md-2">
                 <label for="parcelas" class="form-label">Quantidade de Parcelas</label>
                   <input type="number" class="form-control" id="parcelas"  name="quantidadeParcelas" min="1" required>
               </div>
               <div class="col-md-2">
                 <label for="date" class="form-label">Data do Vencimento</label>
                   <input type="date" class="form-control" id="date" name="primeiraDataVencimento" required
                          placeholder="dd/mm/aaaa">     
               </div>                  
              
               <div class="col-md-1">
                <button type="submit" class="btn btn-success mt-lg-4 mt-md-4" >Incluir</button>
              </div>    
            
           </div>
          </div> 
  </form>

    <!-- table -->
    <div class="table-wrapper">  
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Associado</th>
                    <th class="text-center">Parcela</th>                    
                    <th class="text-center">Data de Emissão</th>
                    <th class="text-center">Data do Vencimento</th>
                    <th class="text-center">Dias de Atraso</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Situação</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mensalidade: ${mensalidades}">
                    <td class="text-center" th:text="${{mensalidade.codigoMensalidade}}"></td>
                    <td th:text="${mensalidade.associado.nome}"></td>
                    <td class="text-center" th:text="${mensalidade.parcela} + '/' + ${mensalidade.totalParcelas}"></td>
                    <td class="text-center"  th:text="${{mensalidade.dataEmissao}}"></td>
                    <td class="text-center"  th:text="${{mensalidade.dataVencimento}}"></td>
                    <td class="text-center" th:text="${{mensalidade.diasAtraso}}"></td>
                    <td class="text-center" th:text="|R$ ${{mensalidade.valor}}|"></td>
                    <td class="text-center">
                      <span class="badge" th:text="${mensalidade.situacao.descricao}"
                      th:classappend="${#strings.toString(mensalidade.situacao) == 'Em_Aberto' ? 'bg-warning' : (#strings.toString(mensalidade.situacao) == 'Atrasado' ? 'bg-danger' : 'bg-success')}">
                    </td>               
                    <td class="text-center">
                        <a class="delete" title="Excluir" data-toggle="tooltip"
                          th:href="@{/mensalidades/{mensalidadeId}/(mensalidadeId = ${mensalidade.id})}">
                            <i class="fa-solid fa-trash-can mx-1" style="color: #fa0000;"></i>
                        </a>
                        <a class="editar" title="Editar e Pagar" data-toggle="tooltip"
                          th:href="@{'/mensalidades/editarMensalidade?id=' + ${mensalidade.id}}">
                            <i class="fa-regular fa-pen-to-square mx-1" style="color: #ffc104;"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" th:if="${#lists.isEmpty(mensalidades)}">Nenhum mensalidade foi encontrada.</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
               
 <!-- container end-->       
</div> </main>
</section>
    

<script>
  $(document).ready(function() {
      $('.select2').select2({
          placeholder: "Digite para buscar...",
          allowClear: true
      });
  });
</script>
</body>
</html>