<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
 
   
    
    <title>Gestão da Associação Quilombola Castainho</title> 
</head>

<body>
<section layout:fragment="content">

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
      <h3 class="h3">Página Inicial</h3>
      <!--<div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-orange btn-sm fw-bold"   
                  role="button" type="button" href="/associados/listar">Text</a>
      </div>-->
    </div>


    <div class="card mx-auto col-sm-7" >
      <div class="row no-gutters">
          <div class="col-sm-7">
              <div class="card-body">
                <h2 class="card-title fw-bold">Seja bem vindo ao sistema da Associação</h2>
                <p class="card-text">Aqui você vai gerenciar de forma simples e prática.</p>
              </div>
          </div>
          <div class="col-sm-5">
            <img class="card-img" src="/img/vetor_welcome.png" alt="welcome">
        </div>
      </div>
    </div>

  </main>   
</section>
</body>
</html>