<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestão da Associação Quilombola Castainho</title>
     <!-- plugins:css -->
    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
     <!-- Custom styles for this template -->
     <link href="/css/dashboard.css" rel="stylesheet">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/img/favicons/android-chrome-512x512.png" sizes="512x512" type="image/png">
    <link rel="icon" href="/img/favicons/android-chrome-192x192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/img/favicons/favicon.ico">
    <meta name="theme-color" content="#546D29">  
    
 </head>
<body>
 
  
<header class="navbar navbar-dark sticky-top flex-md-nowrap p-1 shadow" style="background-color: #546D29;">
   <!-- <h6 class="col-md-6 col-lg-4 me-0 px-3 text-white" >Seja Bem Vindo ao Sistema </h6> -->
   <a type="button" class="btn btn-success btn-sm text-white fw-bold col-md-3 col-lg-2 me-0 mx-2" 
               >Associação Castainho</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" 
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="nav nav-pills align-items-center">
      <div class="nav-item px-3">
          <span class="text-white">Usuário: Admin</span>
      </div>
      <div class="nav-item">
        <a class="nav-link px-3 text-white" th:href="@{/logout}">sair 
          <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
        </a>
      </div>
    </div>   
</header>

<div class="container-fluid">
<div class="row"> 
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background-color: #546D29;">
    <div class="position-sticky pt-4">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active text-white fw-semibold" aria-current="page" href="/home">
            <i class="fa-solid fa-house"></i>
            Página Inicial
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" href="/associados/novo">
            <i class="fa-solid fa-file-lines"></i> 
            Associado
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" href="https://getbootstrap.com/docs/5.0/examples/dashboard/#">
            <i class="fa-solid fa-circle-dollar-to-slot"></i> 
            Mensalidades
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" href="https://getbootstrap.com/docs/5.0/examples/dashboard/#">
            <i class="fa-solid fa-user" ></i>
            Usuário
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" href="https://getbootstrap.com/docs/5.0/examples/dashboard/#">
              <i class="fa-solid fa-right-from-bracket"></i>
            Sair
          </a>
        </li>
      </ul>  
    </div>
    <br/><br/><br/><br/>
    <img src="/img/logo.png" class="img-fluid pt-5" alt="logo" >
  </nav>
  <section layout:fragment="content">
  </section>
 </div>
</div>

<script src="https://kit.fontawesome.com/d9243cc177.js" crossorigin="anonymous"></script>
 <script src="/js/bootstrap.bundle.min.js" ></script>
 <script src="/js/feather.min.js"></script>
 <script src="/js/dashboard.js"></script>
 
</body></html>