<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="associacao Quilombola do castainho">
    <meta name="author" content="Dayanna Claudino">
    <title>Associação Quilombola Castainho</title>
     <!-- plugins:css -->
    
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
     <!-- Custom styles for this template -->
     <link th:href="@{/css/dashboard.css}" type="text/css" rel="stylesheet">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" th:href="@{/img/favicons/apple-touch-icon.png}" sizes="180x180">
    <link rel="icon" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32" type="image/png">
    <link rel="icon" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16" type="image/png">
    <link rel="icon" th:href="@{/img/favicons/android-chrome-512x512.png}" sizes="512x512" type="image/png">
    <link rel="icon" th:href="@{/img/favicons/android-chrome-192x192.png}" sizes="192x192" type="image/png">
    <link rel="icon" th:href="@{/img/favicons/favicon.ico}">

    
 </head>
<body>
 
<header th:insert="~{fragments/header.html :: header}"></header>  

<div class="container-fluid">
<div class="row"> 
  
  <div th:insert="~{fragments/sidebar-nav.html :: nav}"></div>  

  <section layout:fragment="content">
  </section>

 </div>
</div>

<script src="https://kit.fontawesome.com/d9243cc177.js" crossorigin="anonymous"></script>
 <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
 <script th:src="@{/js/jquery.min.js}"></script>

<script th:src="@{/js/popper-calendar.js}"></script>
<script th:src="@{/js/bootstrap.min-calendar.js}"></script>
<script th:src="@{/js/main-calendar.js}"></script>
 
</body></html>