<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestão da Associação Quilombola Castainho</title>
     <!-- plugins:css -->
    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
     <!-- Custom styles for this template -->
     <link href="/css/dashboard.css" rel="stylesheet">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/img/favicons/android-chrome-512x512.png" sizes="512x512" type="image/png">
    <link rel="icon" href="/img/favicons/android-chrome-192x192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/img/favicons/favicon.ico">
    <meta name="theme-color" content="#546D29">  
    
 </head>
<body>
 
<header th:insert="~{fragments/header.html :: header}"></header>  

<div class="container-fluid">
<div class="row"> 
  
  <div th:insert="~{fragments/sidebar-nav.html :: nav}"></div>  

  <section layout:fragment="content">
  </section>

 </div>
</div>

<script src="https://kit.fontawesome.com/d9243cc177.js" crossorigin="anonymous"></script>
 <script src="/js/bootstrap.bundle.min.js" ></script>
 
</body></html>