<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>

    <title>Associação Quilombola Castainho</title> 
</head>

<body>
  <section layout:fragment="content">
  <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
    <h3 class="h3">Lista de Associados</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-orange btn-sm me-md-2 fw-bold"
            role="button" type="button" href="/associados/novo">Adicionar Associado</a>
        <a class="btn btn-orange btn-sm fw-bold"   
            role="button" type="button" href="/mensalidades/listar">Listar Mensalidades</a> 
    </div>
  </div>

<div th:replace="~{fragments/alert}"></div>    

<div class="container">  
      <div class="panel-body">
        <form method="GET" class="form-horizontal" th:action="@{/associados/listar}" th:object="${filtro}">
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="Digite aqui e clique no botão ou enter para buscar..."
                               autofocus="autofocus" th:field="*{nome}"></input>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit"> 
                                    <i class="fa-solid fa-magnifying-glass"></i> Buscar
                                </button>
                            </span>
                    </div>
                </div>
            </div>
        </form>
        <br>
      <div class="table-wrapper">  
          <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Apelido</th>
                        <th class="text-center">Data Nascimento</th>
                        <th class="text-center">Cpf</th>
                        <th class="text-center">RG</th>
                        <th class="text-center">NIS</th>
                        <th class="text-center">Celular</th>
                        <th class="text-center">Sócio Desde</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Acões</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="associado: ${associados.content}">
                        <td class="text-center" th:text="${associado.id}">1</td>
                        <td>
                            <a th:href="@{/associados/visualizaAssociado/{codigo}(codigo=${associado.id})}"         
                               class="d-inline-block text-truncate text-decoration-none" style="color: #38B43A; max-width: 250px;">
                            <span th:text="${associado.nome}"></span>
                            </a>
                        </td>
                        <td th:text="${associado.apelido}"></td>
                        <td class="text-center" th:text="${{associado.dataNascimento}}"></td>
                        <td class="text-center" th:text="${associado.cpf}"></td>
                        <td class="text-center" th:text="${associado.rg}"></td>
                        <td class="text-center" th:text="${associado.nis}"></td>
                        <td class="text-decoration-none" th:text="${associado.celular}"></td>
                        <td class="text-center" th:text="${{associado.socioDesde}}"></td>
                        <td class="text-center">
                            <span class="badge" th:text="${associado.status.descricao}"
                            th:classappend="${#strings.toString(associado.status) == 'Ativo' ? 'bg-success' : 'bg-danger'}"></span>
                        </td>
                        <td class="td-actions text-center">
                            <a class="btn-actions" title="Incluir Mensalidades" data-toggle="tooltip"
                               th:href="@{/mensalidades/detalheAssociado/{codigo}(codigo=${associado.id})}">
                               <i class="fa-solid fa-dollar" style="color: #38B43A;"></i> 
                            </a>
                            <a class="btn-actions" title="Incluir Dependentes" data-toggle="tooltip"
                               th:href="@{/dependentes/detalheAssociado/{codigo}(codigo=${associado.id})}">
                               <i class="fa-solid fa-users" style="color: #03a9f4;"></i>
                            </a>
                            <a class="btn-actions" title="Editar" data-toggle="tooltip"
                               th:href="@{/associados/editar/{codigo}(codigo=${associado.id})}">
                                <i class="fa-regular fa-pen-to-square" style="color: #ffc104;"></i>
                            </a>
                            <a class="btn-actions " title="Excluir" data-toggle="tooltip"
                               th:href="@{/associados/{associadoId}/delete(associadoId = ${associado.id})}">
                                <i class="fa-solid fa-trash-can" style="color: #fa0000;"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" th:if="${#lists.isEmpty(associados)}">Nenhum associado foi encontrado</td>
                    </tr>
                </tbody>
            </table>
           <!--  pagination -->
           <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center font-weight-bold">

                <li class="page-item">
                    <span th:if="${associados.hasPrevious()}">
                        <a class="page-link" th:href="@{/associados/listar(page=${associados.number-1},size=${associados.size})}">Anterior</a>
                    </span>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, associados.totalPages - 1)}">
                    <li class="page-item active">    
                        <span th:if="${associados.number == i}" class="page-link selected">[[${i}+1]]</span>
                    </li>
                    <li class="page-item">
                        <span th:unless="${associados.number == i}">
                            <a class="page-link" th:href="@{/associados/listar(page=${i},size=${associados.size})}">[[${i}+1]]</a>
                        </span>
                    </li>
                </th:block>

                <li class="page-item">
                    <span th:if="${associados.hasNext()}">
                      <a class="page-link" th:href="@{/associados/listar(page=${associados.number+1},size=${associados.size})}">Próximo</a>
                    </span>
                </li>
            </ul>
          </nav>
        </div>
    
      </div>
  </div> <!-- container end-->
   
</div> </main>
</section>

</body>
</html>