<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <title>Gestão da Associação Quilombola Castainho</title> 
</head>

<body>
  <section layout:fragment="content">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">    
    <h1 class="h2">Lista de Associados</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-sm me-md-2 text-white fw-bold"  style="background-color: #F2994A;" 
                role="button" type="button" href="/api/novo">Adicionar Associado</a>
      <a class="btn btn-sm text-white fw-bold"  style="background-color: #F2994A;" 
                role="button" type="button" href="">Listar</a>
    </div>
  </div>
    
<div class="container">  

      <div class="panel-body">
        <form method="GET" class="form-horizontal" action="/api/pesquisar" th:object="${filtro}">
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="Digite aqui o nome do associado para buscar..."
                            autofocus="autofocus" th:field="*{nome}"></input>
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" type="submit">Buscar
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th class="col-md-4">Nome</th>
                        <th class="col-md-2">Apelido</th>
                        <th class="text-center col-md-2">Data Nascimento</th>
                        <th class="text-center col-md-1">Rg</th>
                        <th class="text-center col-md-2">celular</th>
                        <th class="text-center col-md-2">Sócio Desde</th>
                        <th class="text-center col-md-2"> Ações </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="associado: ${associados}">
                        <td class="text-center" th:text="${associado.id}">1</td>
                        <td th:text="${associado.nome}"></td>
                        <td th:text="${associado.apelido}"></td>
                        <td class="text-center" th:text="${{associado.dataNascimento}}"></td>
                        <td th:text="${associado.rg}"></td>
                        <td th:text="${associado.celular}"></td>
                        <td class="text-center" th:text="${{associado.socioDesde}}"></td>
                        <td class="text-center"> 
                            <a class="btn btn-link btn-xs" th:href="@{/associados/{codigo}(codigo=${associado.id})}" 
                                    title="Editar" rel="tooltip" data-placement="top">
                                <span class="fa-sharp fa-solid fa-pencil" style="color: #38b43a;"></span>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                                    th:attr="data-codigo=${associado.id}, data-nome=${associado.nome}"
                                    title="Excluir" rel="tooltip" data-placement="top" >
                                <span class="fa-sharp fa-solid fa-xmark" style="color: #38b43a;"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10" th:if="${#lists.isEmpty(associados)}">Nenhum associado foi encontrado</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
  </div> <!-- container end-->
        
</div> </main>
</section>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>